<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>    
<body>
    {{>header}}
    <div class="main-content">
        <p>{{message}}</p>
        <p>Hi, This is a sample nodeJS app to call weatherstack.com api.</p>
        <p>Some of the libraries used for this are handlebars and express server. For UI, bootstrap 5 was used. </p>
    </div>
    {{>footer}}
</body>
</html>