<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>    
<body>
    {{>header}}
    <div class="main-content">
        <p>Location: {{location}}</p>
        <p>Forecast: {{forecast}}</p>
    </div>
    {{>footer}}
</body>
</html>