<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>    
<body>
    {{>header}}
    <div class="main-content">
            <form>
                <div class="input-group mb-3">
                <input id="address" name="address" type="text" class="form-control" placeholder="Enter City Name Here" aria-label="City Name" aria-describedby="button-addon2">
                <button class="btn btn-primary btn-lg" id="button-addon2">Search</button>
                </div>                
            </form>  
            {{>loadingAnimation}}
            <div class="card w-75" id="div-result-output">
            <div class="card-body">
                <h5 class="card-title" id="message-header-title"></h5>
                
                <img id="weather_icon" src="" class="img-rounded" alt="" style="border: 1px solid #ddd;  border-radius: 4px;  padding: 5px;  width: 150px">
                <br />
                <b><p id="message-1"></p></b>
                <p id="message-2"></p>
            </div>
            </div>            
    </div>
    {{>footer}}
</body>
<script src="/js/app-client.js"></script>
</html>